[Unit]
Description=mozdef service

[Service]
WorkingDirectory=/opt/mozdef/docker/compose
ExecStart=/usr/local/bin/docker-compose up

[Install]
WantedBy=multi-user.target
