name: ssh invalid authentication code
type: frequency
index: filebeat-*

num_events: 1
timeframe:
  minutes: 5

filter:
- query:
    query_string: 
      query: "sshd AND 'Invalid verification code'"

alert:
- debug
