name: sudo authentication failure
type: frequency
index: filebeat-*

num_events: 1
timeframe:
  minutes: 5

filter:
- query:
    query_string: 
      query: "'sudo' AND 'authentication failure'"

alert:
- debug
